[phases.setup]
# Use the system Python provided by Railway's Nixpacks
nixPkgs = ["python312", "pip", "gettext", "dejavu_fonts", "nix"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "python manage.py compilemessages",
  "python manage.py collectstatic --no-input"
]

[start]
cmd = "bash start.sh"
