Django
django-allauth
gunicorn
dj-database-url
psycopg2-binary
python-dotenv
requests
PyJWT[crypto]
cryptography
whitenoise
django-anymail[brevo,sendgrid]
Pillow
pytesseract
django-fernet-fields
pdf2image
