Django==6.0.1
django-allauth[socialaccount]==65.3.1
PyJWT==2.10.1
psycopg2-binary==2.9.10
python-decouple==3.8
typing-extensions==4.12.2
pillow==11.1.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.161.0
pytesseract==0.3.13
pdf2image==1.17.0
reportlab==4.3.0
django-cleanup==9.0.0
gunicorn==23.0.0
python-dotenv==1.2.1
dj-database-url==3.1.0
packaging==25.0
django-anymail[sendgrid,brevo]==12.0
whitenoise==6.8.2
cryptography==44.0.1
django-rosetta==0.10.0
coverage>=7.4.4
sentry-sdk[django]==2.21.0
pytest==8.3.4
pytest-django==4.9.0
