{% extends "base.html" %}

{% block content %}
  <h2>Редактировать документы клиента {{ client }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
      <div style="margin-bottom: 15px; padding: 10px; border: 1px solid #ccc; border-radius: 8px;">
        {{ form.id }} <!-- скрытое поле -->
        <p>
          {{ form.doc_type.label_tag }} {{ form.doc_type }}
        </p>
        <p>
          {{ form.file.label_tag }} {{ form.file }}
        </p>
        <p>
          {{ form.is_provided.label_tag }} {{ form.is_provided }}
        </p>
        <p>
          {{ form.DELETE.label_tag }} Удалить
        </p>
      </div>
    {% endfor %}

    <button type="submit">Сохранить изменения</button>
  </form>
{% endblock %}
